body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 600px;  /* Set the maximum width of the container */
    margin: 0 auto;    /* Center the container horizontally */
    text-align: center;  /* Center-align the content */
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;  /* Center align all headers */
}

#scriptSelector {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Center the script selector */
    margin-bottom: 20px;
}

#paradigmSelector,
.instructions {
    text-align: left;  /* Ensure text inside these elements is aligned left */
    margin: 0 auto;
}

#paradigmDisplay {
    margin: 20px 0;
    font-size: 1.5em;
    display: flex;
    justify-content: center;  /* Center the paradigm display */
}

ul {
    padding-left: 20px; /* Add some padding to the left for better readability */
    text-align: left;  /* Ensure text inside the list is aligned left */
}

label {
    display: block;   /* Make labels block elements to ensure they stack vertically */
}

#paradigmDisplay {
    margin: 20px 0;
    font-size: 1.5em;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin: 5px;
}

#resetSymbol {
    cursor: pointer;
}